<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: head-catminer" />
<body>
 	<div  th:replace="fragments/Menu :: menu"></div>
 	<div id="wrapper">
		<div  th:replace="fragments/usuarioPanel :: usuarioPanel"></div>
		<section id="content">
		
				<h1><b>OPCIONES<b></b></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nam illum excepturi recusandae soluta magni inventore odit sed libero tenetur asperiores aspernatur similique vitae assumenda voluptas earum, cumque voluptatibus laboriosam!</p>
		</section>
	</div>
	<div  th:replace="fragments/footerPanel :: footerPanel"></div>
	

</body>
</html>